<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <!--button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button-->
      <h4 id="myModalLabel" class="modal-title">Welcome to Chat!</h4>
    </div>
    <div class="modal-body"> 
      <input type="text" id="modal-input-username" placeholder="Enter your name" class="form-control" />
    </div>
    <div class="modal-footer">
      <!--button type="button" data-dismiss="modal" class="btn btn-default">Close</button-->
      <button type="button" id="save-user-btn" class="btn btn-primary">Enter Chat</button>
    </div>
  </div>
</div>