!!!
html
    head
        title= "Bootstrap Chat"
        link(rel='stylesheet',href='/css/bootstrap.min.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/bootstrapchat.js')
        script(src='/socket.io/socket.io.js')
    body
        block content