extends bootstrap
 
block content
  div.container
    div(class="navbar navbar-default")
        div(class="navbar-left")
          h1(style="margin-left:10px;")
            span(class="glyphicon glyphicon-comment")
            |   Chat
        div(class="navbar-right" style="margin:10px;")
            span(class="glyphicon glyphicon-user") 
            span#username   Unknown
    div.content
      div.col-lg-8
        div.table-responsive
            div#chatDiv(style="overflow:scroll;height:300px;")
                table#chatTable(class="table table-striped")
                    tbody
                
            div#send-message(class="input-group")
      div.col-lg-4
        h4
          | Users
          ul.list-group(id="user-list")
            li.list-group-item
                span(class="glyphicon glyphicon-user")
                | mom
            li.list-group-item
                span(class="glyphicon glyphicon-user")
                | dad  
    div#myModal(class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")