!!!
html
    head
        title= "Bootstrap Chat"
        link(rel='stylesheet',href='/css/bootstrap.min.css')
        script(src='/js/lib/require.js' data-main='js/bootstrapchat')
    body
        block content